.edit-list-item-form {
    background: rgb(227,239,229);
    padding: 2rem;
    border-radius: 1rem;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
}

.edit-list-item-input {
    font-family: IndieFlower, serif;
    padding: .5rem;
    border-radius: 1rem;
    font-size: 2rem;
    outline: none;
    border: none;
}

.edit-list-item-button {
    position: absolute;
    top: .5rem;
    right: .1rem;
    background: none;
    outline: none;
    border: none;
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
}

.edit-list-item-background {
    top: 0;
    left: 0;
    background: rgba(123,123,123, .5);
    height: 100vh;
    width: 100vw;
}
